{% load i18n %}

<div id="{{ product.id }}" class="card col-md-3 col-5 p-1 text-center" style="background: #ededed">
    <a href="" style="text-decoration: None;">
        <img style="object-fit: cover; height: 14rem;" src="{{ product.image.url }}" class="card-img-top"
             alt="product-{{ product.id }}"></a>
    <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        {#        <p class="card-text">{{ product.detail|truncatechars:20 }}</p>#}
        <h5 class="card-text">{{ product.price }} Toman</h5>
        <div class="container-fluid">
            <div class="row justify-content-center">
{#                <a href="#" class="col-auto btn btn-outline-danger">{% translate "-" %}</a>#}
                <input class="col-md-4 col-auto text-center" type="number" min="0" value="1">
                <a href="#" class="col-auto btn btn-outline-success">{% translate "Add" %}</a>
            </div>
            <div class="row mt-2 justify-content-center">
                <a href="#" class="col-auto btn btn-info">{% translate "Info" %}</a>
            </div>
        </div>
    </div>
</div>
