{% extends "core/base.html" %}
{% load static %}
{% load i18n %}


{% block title %}{% translate "Customer Profile" %}{% endblock %}
{% block content %}
    <div>
        <p>{% translate "First Name: " %}{{ customer.user.first_name }}</p>
        <p>{% translate "Last Name: " %}{{ customer.user.last_name }}</p>
        <p>{% translate "Phone Number: " %}{{ customer.user.phone }}</p>
        <p>{% translate "Email: " %}{{ customer.user.email }}</p>
    </div>
    <a class="btn btn-primary" href="{% url "customer:profile-update" %}">{% translate "Edit Profile" %}</a>
{% endblock %}