{% extends "core/base.html" %}
{% load static %}
{% load i18n %}


{% block title %}{% translate "Customer Profile" %}{% endblock %}
{% block content %}
    <div>
        <p>{% translate "First Name: " %}{{ customer.user.first_name }}</p>
        <p>{% translate "Last Name: " %}{{ customer.user.last_name }}</p>
        <p>{% translate "Phone Number: " %}{{ customer.user.phone }}</p>
        <p>{% translate "Email: " %}{{ customer.user.email }}</p>
    </div>
    <form action="{% url "profile-update" %}" method="GET">
        <button type="submit">{% translate "Edit Profile" %}</button>
    </form><br>
    <form action="{% url "address" %}" method="GET">
        <button type="submit">{% translate "Addresses" %}</button>
    </form><br>
    <form action="{% url "order-history" %}" method="GET">
        <button type="submit">{% translate "Orders" %}</button>
    </form><br>
    <form action="{% url "logout-customer" %}" method="GET">
        <button type="submit">{% translate "Logout" %}</button>
    </form><br>
{% endblock %}